<%- include("./_head.ejs"); %> 

<div>
    <div class="border-b border-grey-400 py-4 mb-8">
        <p class="font-bold text-2xl text-center uppercase">Authentis</p>
    </div>
    <section class="border border-gray-400 rounded-md w-2/4 mx-auto">
        <div class="text-white bg-green-400 py-2 mb-3"><%# Section header %> 
            <p class="text-center font-bold text-xl tracking-wide">
                <span>Verification successful</span>
            </p>
            <p class="text-center underline font-semibold italic">Authentic product</p>
        </div>
        <div class="px-6 py-4 mb-3"> <%# Section body %> 
            <div class="w-2/12 mx-auto mb-3">
                <img src="/imgs/authentic-avatar.jpg" class="w-full">
            </div>
            <p class="py-3 px-2"><span class="mr-2"><i class="fas fa-info-circle"></i></span><span class="font-bold">Brand</span>:<span> <%= product.brand; %> </span></p>
            <p class="py-3 px-2 bg-gray-100"><span class="mr-2"><i class="fas fa-info-circle"></i></span><span class="font-bold">Serial</span>: <%= product.serial; %> </p>
            <p class="py-3 px-2"><span class="mr-2"><i class="fas fa-info-circle"></i></span><span class="font-bold">Manufacturer</span>: <%= product.manufacturer; %> </p>
            <p class="py-3 px-2 bg-gray-100"><span class="mr-2"><i class="fas fa-info-circle"></i></span><span class="font-bold">Date of manufacturer</span>: <%= product.DOR; %> <span></span></p>
        </div>
    </div>
</div>

<%- include("./_footer.ejs") %> 
<%- include("./_close.ejs"); %>