<%- include("./_head.ejs"); %>

<div class="h-screen"><%# this is the entrire viewprot %> 
    <%- include("./_header.ejs"); %>
    <div class="flex" style="height: 85%;"><%# center %> 
        <%- include("./_aside2.ejs"); %><%# sidebar navigation %>
        <div class="w-10/12 bg-white px-16 pt-8 overflow-y-auto"><%# Main %> 
            <p class="mb-6">This is the catalog</p>
            <div>
                <table class="min-w-max w-full table-auto">
                    <thead>
                        <tr class="bg-blue-200 text-gray-600 uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">Brand Name</th>
                            <th class="py-3 px-6 text-left">Date register</th>
                            <th class="py-3 px-6 text-center">Units</th>
                            <th class="py-3 px-6 text-center">View serials</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% brands.forEach((brand, index) => { %>
                            <tr 
                                class="<% if(index % 2 != 0) {%> <%= "border-b border-gray-200 bg-gray-50 hover:bg-gray-100" %>  <% }else { %> <%= "border-b border-gray-200 hover:bg-gray-200" %>  <% } %>"
                            >
                                <td class="py-3 px-6 text-left">
                                    <span class="font-medium"><%= brand.name %> </span>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <span>6/11/21</span>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <%= brand.count %> 
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <a href="/serials?brand=<%= brand.name; %> " class="text-blue-500">View serials</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
    <%- include("./_footer.ejs"); %><%# Footer %> 
</div>

<%- include("./_close.ejs"); %> 