<%- include("./_head.ejs"); %>
    <div class="h-screen"><%# This is the container for whole viewport %> 
        <%- include("./_header.ejs"); %> 
        <div class="flex" style="height: 85%;"><%# Center  %> 
            <%- include("./_aside2.ejs"); %> 
            <div class="w-10/12 bg-white"><%# Main %> 
                <p>This is main</p>
            </div>
        </div>
        <%- include("./_footer.ejs"); %> 
    </div>
    

<%- include("./_close.ejs"); %> 