<%- include("./_head.ejs"); %>

<div class="h-screen"><%# this is the entrire viewprot %> 
    <%- include("./_header.ejs"); %>
    <div class="flex" style="height: 85%;"><%# center %> 
        <%- include("./_aside2.ejs"); %><%# sidebar navigation %>
        <div class="w-10/12 bg-white px-16 pt-8 overflow-y-auto"><%# Main %> 
            <p>Settings page - This page has not yet implemented</p>
        </div>  
    </div>
    <%- include("./_footer.ejs"); %><%# Footer %> 
</div>

<%- include("./_close.ejs"); %>  